* {
	padding: 0px;
	margin: 0px;
	outline: none;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	background-color: #f8f8f8;
}

table {
	border: 0px;
}

table, td, th {
	border-collapse: collapse;
}

.top-padded {
	padding-top: 5px;	
}

.top-left-padded {
	padding-top: 5px;	
	padding-left: 10px;	
}

.top-left-right-padded {
	padding-top: 5px;	
	padding-left: 10px;	
	padding-right: 10px;	
}

.top-left-bottom-padded {
	padding-top: 5px;	
	padding-left: 10px;	
	padding-bottom: 5px;	
}

.top-left-bottom-right-padded {
	padding-top: 5px;	
	padding-left: 10px;	
	padding-bottom: 5px;	
	padding-right: 10px;	
}

.right-justified-content {
	text-align: right;
}

.fill-both {
	width: 100%;
	height: 100%;
}

.fill-horizontal {
	width: 100%;
}

.fill-vertical {
	height: 100%;
}

.centered {
	margin: auto auto;
}

.centered-horizontal {
	margin: 0px auto;
}

.centered-vertical {
	margin: auto 0px;
}

#youtubeviewer {
	margin: 5px 5px;
	width: 665px;
	height: 620px;
}

#logo-cell {
	font-family: "Agency FB", "Arial Narrow", sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-indent: 24px;
	text-align: left;
	vertical-align: baseline;
	background: url('dapyt16.png');
	background-repeat: no-repeat;
	background-position: 10px;
}

#search-cell {
}

#serch-term {
	padding: 4px 9px;
	text-indent: 4px;
	border: 1px solid #d33;
	background: url('search.png');
	background-repeat: no-repeat;
	background-position: 100%;
	-webkit-border-radius: 14px;
    outline: none;
}

#video-titles-cell {
	width: 150px;
}

#thumbnail-cell {
	width: 480px;
	height: 360px;
}

#thumbnail {
	width: 480px;
	height: 360px;
	overflow: hidden;
}

#video-title-cell {
	width: 480px;
	max-width: 480px;
	overflow: hidden;
}

#video-title {
	width: 480px;
	max-width: 480px;
	overflow: hidden;
}

#description-cell {
	width: 480px;
	height: 100px;
}

#description {
	width: 480px;
}

#status-message {
	color: #888;
}

#footer-cell {
	background: url('poweredbyyoutube.png');
	background-repeat: no-repeat;
	background-position: 10px;
}

#attribution {
	font-size: 8px;
	color: #888;
}

